body {
  padding-bottom: 40px;
}

#main_container {
    background-color: white;
}

#breadcrumb {
    --bs-breadcrumb-divider: '>';
}

#carrousel {
    position: relative;
    display: flex;
}

.img-preview {
    display: block;
    height: 200px;
    cursor: pointer;
}

.dragging {
    opacity: 0.4;
}
